<!doctype html>
<html lang=pt-br>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Virtual Budget</title>

	<!--SEO-->
	<link rel="canonical" href="http://budget.ogaiti.com.br/"/>
	<meta name="author" content="Tiago Rodrigo Calógero"/>
	<meta name="robots" content="INDEX, FOLLOW"/>
	<meta name="description" content="Virtual Budget Tiago Rodrigo Calógero"/>
	<meta name="keywords" content="budget,tender,fullstack,frontend,backend,css,html,php,online,site,website,system,app,android,game"/>

	<meta property="og:url" content="http://budget.ogaiti.com.br/"/>
	<meta property="og:image" content="http://budget.ogaiti.com.br/assets/images/favicon.png"/>
	<meta property="og:image:url" content="http://budget.ogaiti.com.br/assets/images/favicon.png"/>
	<meta property="og:locale" content="pt_BR"/>
	<meta property="og:title" content="Virtual Budget"/>
	<meta property="og:description" content="Virtual Budget Tiago Rodrigo Calógero"/>
	<meta property="og:site_name" content="Virtual Budget"/>
	<meta property="og:type" content="website"/>

	<!--favicon-->
	<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

	<!--CSS-->
	<link rel=stylesheet type=text/css href="assets/css/style.min.css">
</head>

<body data-ng-controller="HomeController" data-ng-cloak>
	<div id="flag-fixed">
		<ul class="flags list-unstyled">
			<li class="flag"
			    data-ng-repeat="lang in typeLanguages"
			    data-ng-class="lang.abb"
			    data-ng-show="language != lang.abb"
			    data-ng-click="changeLanguage(lang.abb)">
				<img data-ng-src="{{::domain}}assets/images/flag-{{lang.abb}}.png" alt="">
				<md-tooltip md-direction="right">{{lang.title}}</md-tooltip>
			</li>
		</ul>
	</div>

	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools">
			<div class="container">
				<div class="row">
					<div class="col-xs-4 col-sm-6">
						<h3>{{translate.total}}</h3>
						<h3>{{totalValue | currency}}</h3>
					</div>
					<div class="col-xs-8 col-sm-6 text-right">
						<h3>{{translate.forecast}}</h3>
						<h3>{{totalDays}} {{translate.days}}</h3>
					</div>
				</div>
			</div>
		</div>

		<a href="https://github.com/tiaguinhor/budget/" target="_blank" class="fork">
			<div id="fork">
				<img src="assets/images/fork.png" width="200" alt="">
			</div>
		</a>
	</md-toolbar>

	<section class="container">
		<form name="form">
			<div class="alert alert-info scale-fade" data-ng-class="animation" data-ng-if="!close">
				<a href="javascript:" class="close" data-ng-click="closePopup()">
					<i class="fa fa-times"></i>
				</a>

				{{translate.popup}}
			</div>

			<h2>{{translate.title}}</h2>

			<hr>

			<md-tabs md-dynamic-height md-border-bottom>
				<md-tab label="WebSite" data-ng-click="selectService('website')">
					<md-content class="md-padding">
						<div data-ng-show="service == 'website'">
							<div class="row">
								<div class="col-xs-12 col-md-6 title">{{translate.typeCompanyTitle}}</div>

								<div class="col-xs-12 col-md-6">
									<md-radio-group class="md-primary" data-ng-model="values.sizedCompany">
										<md-radio-button data-ng-repeat="company in translate.business" value="{{company.value}}">
											{{company.sized}}
										</md-radio-button>
									</md-radio-group>
								</div>
							</div>
						</div>

						<div data-ng-show="values.sizedCompany && service == 'website'">
							<div class="row">
								<div class="col-xs-12 col-md-6 title">{{translate.typeSiteTitle}}</div>

								<div class="col-xs-12 col-md-6">
									<md-radio-group class="md-primary" data-ng-model="typeSite">
										<md-radio-button value="template">{{translate.templateTitle}}</md-radio-button>
										<md-radio-button value="custom">{{translate.customTitle}}</md-radio-button>
									</md-radio-group>
								</div>
							</div>

							<div data-ng-show="typeSite == 'custom'">
								<div class="row">
									<div class="col-xs-12 col-md-6 title">{{translate.homeTitle}}</div>

									<div class="col-xs-12 col-md-6">
										<md-radio-group class="md-primary" data-ng-model="values.home">
											<md-radio-button value="static-{{staticValue}}">
												{{translate.staticTitle}}
											</md-radio-button>
											<md-radio-button value="dynamic-{{dynamicValue}}">
												{{translate.dynamicTitle}}
											</md-radio-button>
										</md-radio-group>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12 col-md-6 title">{{translate.whoTitle}}</div>

									<div class="col-xs-12 col-md-6">
										<md-radio-group class="md-primary" data-ng-model="values.who">
											<md-radio-button value="static-{{staticValue}}">
												{{translate.staticTitle}}
											</md-radio-button>
											<md-radio-button value="dynamic-{{dynamicValue}}">
												{{translate.dynamicTitle}}
											</md-radio-button>
										</md-radio-group>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12 col-md-6 title">{{translate.contactTitle}}</div>

									<div class="col-xs-12 col-md-6">
										<md-radio-group class="md-primary" data-ng-model="values.contact">
											<md-radio-button value="static-{{staticValue}}">
												{{translate.staticTitle}}
											</md-radio-button>
											<md-radio-button value="dynamic-{{dynamicValue}}">
												{{translate.dynamicTitle}}
											</md-radio-button>
										</md-radio-group>
									</div>
								</div>

								<hr>

								<div class="row">
									<div class="col-xs-12 col-md-6 title">{{translate.otherTitle}}</div>

									<div class="col-xs-12 col-md-6">
										<md-radio-group class="md-primary" data-ng-model="other.value">
											<md-radio-button value="static-{{staticValue}}">
												{{translate.staticTitle}}
											</md-radio-button>
											<md-radio-button value="dynamic-{{dynamicValue}}">
												{{translate.dynamicTitle}}
											</md-radio-button>
										</md-radio-group>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12 col-md-6 title" data-ng-show="other.value">
										{{translate.quantityTitle}}
									</div>

									<div class="col-xs-12 col-md-6" data-ng-show="other.value">
										<md-radio-group class="md-primary" data-ng-model="other.quantity">
											<md-radio-button value="1">1</md-radio-button>
											<md-radio-button value="2">2</md-radio-button>
											<md-radio-button value="3">3</md-radio-button>
											<md-radio-button value="4">4</md-radio-button>
											<md-radio-button value="5">5</md-radio-button>
										</md-radio-group>
									</div>
								</div>
							</div>

							<hr>
						</div>

						<fieldset data-ng-show="values.sizedCompany && service == 'website' && typeSite == 'custom'">
							<legend>{{translate.extrasTitle}}</legend>

							<div class="row">
								<div class="col-xs-12 col-md-6">
									<abbr title="{{translate.responsiveDesc}}" class="initialism">{{translate.responsiveTitle}}</abbr>
								</div>

								<div class="col-xs-12 col-md-6">
									<md-switch class="md-primary" data-ng-model="values.mobile" data-ng-true-value="'{{responsiveValue}}'" data-ng-false-value="'0'"></md-switch>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-md-6">
									<abbr title="{{translate.mvcDesc}}" class="initialism">{{translate.mvcTitle}}</abbr>
								</div>

								<div class="col-xs-12 col-md-6">
									<md-switch class="md-primary" data-ng-model="values.mvc" data-ng-true-value="'{{mvcValue}}'" data-ng-false-value="'0'"></md-switch>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-md-6">{{translate.domainTitle}}</div>

								<div class="col-xs-12 col-md-6">
									<md-switch class="md-primary" data-ng-model="values.domain" data-ng-true-value="'{{domainValue}}'" data-ng-false-value="'0'"></md-switch>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-md-6">{{translate.maintenanceTitle}}</div>

								<div class="col-xs-12 col-md-6">
									<md-switch class="md-primary" data-ng-model="values.maintenance" data-ng-true-value="'{{maintenanceValue}}'" data-ng-false-value="'0'"></md-switch>
								</div>
							</div>

							<hr>
						</fieldset>
					</md-content>
				</md-tab>

				<md-tab label="{{translate.applicationTitle}}" data-ng-click="selectService('app')">
					<md-content class="md-padding">
						<div data-ng-show="service == 'app'">
							<div class="col-xs-12">
								<md-radio-group class="md-primary" data-ng-model="values.sizedCompany">
									<md-radio-button data-ng-repeat="application in translate.applications" value="{{application.value}}">
										{{application.name}}
									</md-radio-button>
								</md-radio-group>
							</div>
						</div>
					</md-content>
				</md-tab>

				<md-tab label="Game (WebGL)" data-ng-click="selectService('game')">
					<md-content class="md-padding">
						<div data-ng-show="service == 'game'">
							<div class="col-xs-12">
								<md-radio-group class="md-primary" data-ng-model="values.sizedCompany">
									<md-radio-button data-ng-repeat="game in translate.games" value="{{game.value}}">
										{{game.type}}
									</md-radio-button>
								</md-radio-group>
							</div>
						</div>
					</md-content>
				</md-tab>
			</md-tabs>

			<md-content>
				<div class="col-xs-6">
					<div class="row">
						<md-input-container class="col-xs-12 col-md-6">
							<input ng-model="user.name" required>
							<label>{{translate.formName}}</label>
						</md-input-container>
						<md-input-container class="col-xs-12 col-md-6">
							<input ng-model="user.email" type="email" required>
							<label>{{translate.formEmail}}</label>
						</md-input-container>
						<md-input-container class="col-xs-12">
							<md-button class="md-raised md-primary" ng-disabled="form.$invalid || loading" data-ng-click="submit()">{{send}}</md-button>
						</md-input-container>
					</div>
				</div>
				<div class="col-xs-6">
					<md-input-container class="md-block">
						<textarea ng-model="user.description" md-maxlength="300" md-select-on-focus required></textarea>
						<label>{{translate.formDescription}}</label>
					</md-input-container>
				</div>
			</md-content>
		</form>
	</section>

	<footer>
		<div class="row">
			<div class="container">
				<div class="col-md-offset-5 col-md-4 col-xs-12 col-sm-12">
					<div class="copy">{{translate.copyright}}</div>
					<a href="http://curriculo.ogaiti.com.br" id="logo" target="_blank"></a>
				</div>
			</div>
		</div>
	</footer>

	<script src="assets/js/libraries.min.js"></script>
	<script src="assets/js/script.min.js"></script>
</body>
</html>