<!doctype html>
<html lang=pt-br>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--<title>Orçamento Virtual - OGAITI</title>-->

	<!--SEO-->
	<link rel="canonical" href="http://budget.ogaiti.com.br/"/>
	<meta name="author" content="Tiago Rodrigo Calógero"/>
	<meta name="robots" content="INDEX, FOLLOW"/>
	<meta name="description" content="Virtual budget Tiago Rodrigo Calógero"/>
	<meta name="keywords" content="budget,tender,fullstack,frontend,backend,css,html,php,online,site,website,sistema,app,android,game"/>

	<meta property="og:url" content="http://budget.ogaiti.com.br/"/>
	<meta property="og:image" content="http://budget.ogaiti.com.br/assets/images/favicon.png"/>
	<meta property="og:image:url" content="http://budget.ogaiti.com.br/assets/images/favicon.png"/>
	<meta property="og:locale" content="pt_BR"/>
	<meta property="og:title" content="TIAGO CALÓGERO"/>
	<meta property="og:description" content="Virtual budget Tiago Rodrigo Calógero"/>
	<meta property="og:site_name" content="OGAITI"/>
	<meta property="og:type" content="website"/>

	<!--favicon-->
	<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

	<!--CSS-->
	<link rel=stylesheet type=text/css href="assets/css/style.min.css">
</head>

<body data-ng-controller="HomeController" data-ng-cloak>
	<div id="flag-fixed">
		<ul class="flags list-unstyled">
			<li class="flag"
			    data-ng-repeat="lang in typeLanguages"
			    data-ng-class="lang.abb"
			    data-ng-if="language != lang.abb"
			    data-ng-click="changeLanguage(lang.abb)">
				<img data-ng-src="{{::domain}}assets/images/flag-{{lang.abb}}.png" alt="">
				<md-tooltip md-direction="right">{{lang.title}}</md-tooltip>
			</li>
		</ul>
	</div>

	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-xs-12"><h3>Estimativa:</h3></div>
					<div class="col-md-4 col-xs-12"><h3><span>{{totalValue | currency}}</span></h3></div>
					<div class="col-md-3 col-xs-12 text-right"><h3>Previsão de entrega:</h3></div>
					<div class="col-md-3 col-xs-12 text-right"><h3>{{totalDays}} dia(s)</h3></div>
				</div>
			</div>
		</div>

		<a href="https://github.com/tiaguinhor/budget/" target="_blank">
			<div id="fork">
				<img src="assets/images/fork.png" width="200" alt="">
			</div>
		</a>
	</md-toolbar>

	<div class="container">
		<form>
			<div class="alert alert-info scale-fade" data-ng-class="animation" data-ng-if="!close">
				<button type="button" class="close" data-ng-click="closePopup()">&times;</button>
				Caso selecione pagina dinâmica, o mesmo irá acompanhado de um painel de gerenciamento (CMS)
			</div>

			<h2>Orçamento Virtual</h2>

			<hr>

			<fieldset>
				<legend>Serviços</legend>

				<div class="row">
					<div class="col-md-6 col-xs-12" data-ng-click="selectService('site')">Site</div>

					<div data-ng-if="service == 'site'">
						<div class="col-md-6 col-xs-12">
							<md-radio-group class="md-primary" data-ng-model="values.portBusiness">
								<md-radio-button value="0">Pessoal</md-radio-button>
								<md-radio-button value="300">MEI</md-radio-button>
								<md-radio-button value="1500">ME</md-radio-button>
								<md-radio-button value="3500">LTDA</md-radio-button>
							</md-radio-group>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-xs-12" data-ng-click="selectService('app')">Aplicativo</div>

					<div data-ng-if="service == 'app'">
						<div class="col-md-6 col-xs-12">
							<md-radio-group class="md-primary" data-ng-model="values.portBusiness">
								<md-radio-button value="5000">Android</md-radio-button>
								<md-radio-button value="7000">Iphone</md-radio-button>
								<md-radio-button value="10000">Android + Iphone</md-radio-button>
							</md-radio-group>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-xs-12" data-ng-click="selectService('game')">Game (WebGL)</div>

					<div data-ng-if="service == 'game'">
						<div class="col-md-6 col-xs-12">
							<md-radio-group class="md-primary" data-ng-model="values.portBusiness">
								<md-radio-button value="7000">Plataforma</md-radio-button>
								<md-radio-button value="6000">Bullet</md-radio-button>
								<md-radio-button value="4000">Puzzle</md-radio-button>
								<md-radio-button value="5000">Arcade</md-radio-button>
							</md-radio-group>
						</div>
					</div>
				</div>
			</fieldset>

			<hr>

			<fieldset data-ng-show="values.portBusiness && service == 'site'">
				<legend>Site</legend>

				<div class="row">
					<div class="col-md-6 col-xs-12">Tipo de Site</div>

					<div class="col-md-6 col-xs-12">
						<md-radio-group class="md-primary" data-ng-model="typeSite">
							<md-radio-button value="template">Criar site utilizando template</md-radio-button>
							<md-radio-button value="personalizado">Criar site personalizado</md-radio-button>
						</md-radio-group>
					</div>
				</div>

				<div data-ng-show="typeSite == 'personalizado'">
					<div class="row">
						<div class="col-md-6 col-xs-12">Pagina Inicial</div>

						<div class="col-md-6 col-xs-12">
							<md-radio-group class="md-primary" data-ng-model="values.paginaInicial">
								<md-radio-button value="static-{{staticValue}}">Estático</md-radio-button>
								<md-radio-button value="dynamic-{{dynamicValue}}">Dinâmico</md-radio-button>
							</md-radio-group>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-xs-12">Quem Somos</div>

						<div class="col-md-6 col-xs-12">
							<md-radio-group class="md-primary" data-ng-model="values.quemSomos">
								<md-radio-button value="static-{{staticValue}}">Estático</md-radio-button>
								<md-radio-button value="dynamic-{{dynamicValue}}">Dinâmico</md-radio-button>
							</md-radio-group>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-xs-12">Contato</div>

						<div class="col-md-6 col-xs-12">
							<md-radio-group class="md-primary" data-ng-model="values.contato">
								<md-radio-button value="static-{{staticValue}}">Estático</md-radio-button>
								<md-radio-button value="dynamic-{{dynamicValue}}">Dinâmico</md-radio-button>
							</md-radio-group>
						</div>
					</div>

					<hr>

					<div class="row">
						<div class="col-md-6 col-xs-12">Outras Paginas</div>

						<div class="col-md-6 col-xs-12">
							<md-radio-group class="md-primary" data-ng-model="other.value">
								<md-radio-button value="static-{{staticValue}}">Estático</md-radio-button>
								<md-radio-button value="dynamic-{{dynamicValue}}">Dinâmico</md-radio-button>
							</md-radio-group>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-xs-12" data-ng-show="other.value">Quantidade</div>

						<div class="col-md-6 col-xs-12" data-ng-show="other.value">
							<md-radio-group class="md-primary" data-ng-model="other.quantity">
								<md-radio-button value="1">1</md-radio-button>
								<md-radio-button value="2">2</md-radio-button>
								<md-radio-button value="3">3</md-radio-button>
								<md-radio-button value="4">4</md-radio-button>
								<md-radio-button value="5">5</md-radio-button>
							</md-radio-group>
						</div>
					</div>
				</div>

				<hr>
			</fieldset>

			<fieldset data-ng-show="values.portBusiness && service == 'site'">
				<legend>Adicionais</legend>

				<div class="row">
					<div class="col-md-6 col-xs-12">
						<abbr title="Compatível com dispositivos móveis" class="initialism">Responsivo</abbr>
					</div>

					<div class="col-md-6 col-xs-12">
						<md-switch class="md-primary" data-ng-model="values.mobile" data-ng-true-value="'{{responsiveValue}}'" data-ng-false-value="'0'"></md-switch>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-xs-12">
						<abbr title="Oferece maior segurança e agilidade para seu site" class="initialism">Estrutura MVC</abbr>
					</div>

					<div class="col-md-6 col-xs-12">
						<md-switch class="md-primary" data-ng-model="values.mvc" data-ng-true-value="'{{mvcValue}}'" data-ng-false-value="'0'"></md-switch>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-xs-12">Hospedagem + Dominio (Anual)</div>

					<div class="col-md-6 col-xs-12">
						<md-switch class="md-primary" data-ng-model="values.domain" data-ng-true-value="'{{domainValue}}'" data-ng-false-value="'0'"></md-switch>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-xs-12">Manutenção (Mensal)</div>

					<div class="col-md-6 col-xs-12">
						<md-switch class="md-primary" data-ng-model="values.maintenance" data-ng-true-value="'{{maintenanceValue}}'" data-ng-false-value="'0'"></md-switch>
					</div>
				</div>

				<hr>
			</fieldset>
		</form>
	</div>

	<footer>
		<div class="col-md-offset-5 col-md-4 col-xs-12 col-sm-12">
			<div class="copy">Desenvolvido por</div>
			<a href="http://curriculo.ogaiti.com.br" id="logo" target="_blank"></a></div>
	</footer>

	<script src="assets/js/libraries.min.js"></script>
	<script src="assets/js/script.min.js"></script>
</body>
</html>