body{
  overflow-x: hidden;
  form{
    margin-top: 20px;
  }
  section{
    &.container{
      padding-top: 70px;
    }
  }
  .alert{
    position: relative;
    .close{
      position: absolute;
      right: 20px;
      &:focus{
        outline: 0;
      }
    }
  }
  .row{
    margin-bottom: 5px;
  }
  .title{
    font-weight: bolder;
  }
  #logo{
    float: left;
    background: url("#{$imgDirectory}logo_bw.png") no-repeat;
    width: 90px;
    height: 20px;
    margin-left: 10px;
    &:hover{
      background: url("#{$imgDirectory}logo.png") no-repeat;
    }
  }
  a{
    &.fork{
      #fork{
        position: fixed;
        top: 0;
        right: 0;
      }
    }
  }
  #flag-fixed{
    position: fixed;
    top: 50%;
    z-index: 9;
    a{
      display: block;
    }
    ul{
      margin: 0;
      background-color: rgba(0, 0, 0, .1);
      li{
        cursor: pointer;
        padding: 10px;
        transition: background-color .3s ease;
        &:hover{
          background-color: rgba(0, 0, 0, .1);
        }
        &:not(:last-child){
          border-bottom: 1px solid rgba(0, 0, 0, .1);
        }
      }
    }
  }
}

@media(max-width: 768px){
  a{
    &.fork{
      display: none;
    }
  }
  #flag-fixed{
    right: 0;
  }
  .title{
    margin: 20px 0 10px;
  }
}