.md-switch-thumb, md-radio-button{
  display: inline;
  margin-right: 10px;
}

.md-switch-thumb:first-child, md-radio-button:first-child{
  margin-left: 0;
}

.md-toast-animating{
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

md-checkbox{
  margin: 5px auto;
}

md-checkbox .md-container{
  top: 0;
}

md-checkbox:first-child{
  margin-left: 0;
}

md-switch{
  margin: 0;
}

fieldset#newPage{
  md-switch{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }
}

md-tabs{
  min-height: 150px;
}

md-toast{
  position: fixed;
  &.md-top{
    top: 65px;
  }
}

md-toolbar{
  position: fixed;
}

md-content{
  overflow-x: hidden;
  md-input-container{
    button{
      margin: 0 !important;
    }
    input ~ label, textarea ~ label{
      left: 12px !important;
    }
  }
}

md-tabs md-ink-bar{
  color: rgb(63, 81, 181);
  background: rgb(63, 81, 181);
}

@media(max-width: 768px) {
  .md-toolbar-tools{
    font-size: 14px;
    padding: 0;
    .container{
      width: 100%;
      margin: 0;
    }
  }
  md-radio-group md-radio-button:not(:first-child){
    margin-top: 8px;
  }
  md-radio-button{
    display: block;
    margin: 0;
  }
  md-content{
    padding: 20px 0;
    md-input-container{
      margin: 0;
    }
  }
}

@media(max-width: 600px) {
  fieldset#newPage{
    md-switch{
      justify-content: flex-start;
      padding-left: 30px;
      height: 50px;
      margin-bottom: 20px;
    }
  }
}