<ion-view view-title="Sobre o app">
  <ion-content>
    <img src="assets/img/logo.svg" alt="onde beber" class="logo">
    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    

    <p><b>Fale conosco:</b></p>    
    <p>
    <a href="mailto:anuncieaqui@ondebeber.com.br">anuncieaqui@ondebeber.com.br</a><br/>
    <a href="mailto:sac@ondebeber.com.br">sac@ondebeber.com.br</a><br/>
    <a href="mailto:contato@ondebeber.com.br">contato@ondebeber.com.br</a>
    </p>

  </ion-content>
</ion-view>
