<ion-view view-title="Login">
  <ion-content>
    <img src="assets/img/logo.svg" alt="onde beber" class="logo">
    
    
    <form data-ng-submit="sendLoginData()" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" data-ng-model="user.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" data-ng-model="user.password">
        </label>
        <label class="item submit">
          <button class="button button-block button-positive" type="submit">Entrar</button>
        </label>
      </div>
    </form>
    <!--<ion-item menu-close data-ng-click="openModal(1)">
      Entrar
    </ion-item>-->
    <ion-item menu-close data-ng-click="openModal(2)" class="menu-link-home">
      Cadastrar-se
    </ion-item>
    <ion-item menu-close data-ng-click="openModal(3)" class="menu-link-home">
      Recuperar senha
    </ion-item>
  </ion-content>
</ion-view>
