<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" data-menu-toggle="left">
				</button>
			</ion-nav-buttons>

			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-ios-more" data-menu-toggle="right">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-content>
			<ion-list>
				<ion-item menu-close href="#/app/home" ng-show="showloginbutton">
					Login
				</ion-item>
				<ion-item menu-close data-ng-href="#/logged/beerlists/{{userId}}" ng-show="showloggedbuttons">
					Cervejas
				</ion-item>
				<ion-item menu-close href="#/app/about" ng-show="showloginbutton">
					Sobre o app
				</ion-item>
				<ion-item menu-close href="#/app/home" ng-show="showloggedbuttons">
					LogOut
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>

	<ion-side-menu side="right">
		<ion-content>
			<p>
				Encontre os melhores bares e restaurantes para beber a sua cerveja preferida.
			</p>

			<p>
				Com o app Onde beber você escolhe a marca de cerveja que quer beber e ele localiza os bares e
				restaurantes mais próximos onde você pode encontrá-la.
			</p>

			<p>
				Todos os locais cadastrados são avaliados pelos próprios usuários de acordo com o preço, atendimento e
				temperatura da cerveja, para você curtir seu momento com muito mais qualidade.
			</p>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
