<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Recuperar senha</h1>
    <div class="buttons">
      <button class="button button-clear" data-ng-click="closeModal(3)">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form data-ng-submit="sendData('recuperar senha')">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Informe seu email</span>
          <input type="text" data-ng-model="dataVariable.username">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Enviar nova senha</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
