<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Cadastro</h1>
    <div class="buttons">
      <button class="button button-clear" data-ng-click="closeModal(2)">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form data-ng-submit="sendData('cadastrar-se')">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nome</span>
          <input type="text" data-ng-model="dataVariable.username">
        </label>
        <label class="item item-input">
          <span class="input-label">E-mail</span>
          <input type="email" data-ng-model="dataVariable.email">
        </label>
        <label class="item item-input">
          <span class="input-label">CPF</span>
          <input type="text" data-ng-model="dataVariable.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Data de Nascimento</span>
          <input type="date" data-ng-model="dataVariable.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Senha</span>
          <input type="password" data-ng-model="dataVariable.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Cadastrar-se</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
